@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    background: linear-gradient(to bottom, #019de1 0%, #100e99 100%);
    min-height: 100vh;
    font-family: 'inter', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0 ;
}

ul { list-style: none; }
h1 { font-weight: bold; }

.lt-spacing-1 { letter-spacing: 1rem; }
.fs-7 { font-size: 3rem !important; }

form > input{
    width: 100%;
}

form > input[type="submit"]{
    width: auto;
    display: block;
    margin: 25px auto;
}

select {
    border-radius: 30px !important;
    padding: 0.3rem !important;
    font-size: 16px !important;
}

label{
    padding-top: 10px !important;
}

.bg-blue-c { background-color: #010066 !important; }
.bg-light-blue { background: #019de1; }
.bg-gradiente { background: linear-gradient(to bottom, #019de1 0%, #100e99 100%); }

.border-light-c { border-color: rgb(253 253 253 / 22%) !important; }

.text-blue { color: #0043ff !important; }
.text-lightblue { color: #15f1ff !important; }

.btn { border-radius:30px !important; }

.btn-blue {
    background-color: transparent;
    border: 2px solid #0dcaf0 !important;
    color: #fff;
}

.btn-blue:hover {
    background-color: rgb(255 255 255 / 17%);
    border:  none !important;
    color: #000 !important;
    transition: all 0.3s ease;
}