:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
}

span a { color: #6f42c1; }
span a:hover { text-decoration: underline; }

.bg-purple { background-color: var(--purple); }

.purple { color: var(--purple); }
.indigo { color: var(--indigo); }

.w-74 {
    width: 74% !important;
}

.row {
    width: 100%;
}

.opacity {
    opacity: 0 !important;
}

.mt-6 {
    margin-top: 5rem;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn.btn-secondary:hover {
    background-color: #4d5257 !important;
    border-color: #4d5257 !important;
}