@import url('base.css');
@import url('nav.css');
@import url('homepage.css');

section {   
    height: 100vh;
}

.w-75 {
    margin-bottom: 3.5rem;
}

.main-home * {
    color: #010101 !important;
}

.home {
    margin-bottom: 2.5%;
}

.chart {
    width: 100%;
    height: 365px;
}

.no-data {
    background: white;
    top: 0%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 567px) {

    .home {
        margin-bottom: 30%;
    }

    .w-75 {
        margin-bottom: 5.5rem;
    }

    section {
        height: 85vh;
    }
}



