/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Noto+Sans+JP:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap'); */
@import url('base.css');
@import url('nav.css');

body { 
    background-color: #fff !important;
}

section, header{
    height: 100vh;
    color: #f8f9fa;
}

header, footer {
    text-align: center;
}

/* header { background: linear-gradient(to bottom, #019de1 0%, #100e99 100%); } */
footer { 
    background: #003f9d;
    /* background: linear-gradient(to bottom, #019de1 0%, #100e99 100%);  */
}

header h2 {
    font-size: 2.5rem !important;
}

header h1 {
    letter-spacing: 3rem !important;
    font-size: 5rem;
}

section, footer, footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(-n+2){
    /* background: #fff !important; */
}

span.select2-selection.select2-selection--single {
    background: transparent !important;
    border-color: #ffffffa1 !important;
    border-radius: 30px !important;
    color: #fff !important;
    padding-left: 0.7rem !important;
    margin-top: 1rem !important;
    width: 80%;
}

span.select2-selection__rendered {
    color: #fff !important;
    font-size: 1rem;
}

span.select2-selection__rendered:hover {
    color: #019de1 !important;
}

#chartdiv {
    width: 100%;
    height: 365px;
}

.bg-img{
    display:flex;
    margin:auto;
    background-color: #f8f9fa38;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
}

.bg-static {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: linear-gradient(to bottom, #019de1 0%, #100e99 100%) !important;
}

.main-home {
    z-index: 2;
    position: relative;
    background: transparent;
}

.card-home {
    height: 40rem;
    display: flex;
    justify-content: center;
}

.card-insumo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-insumo > div {
    width: 100%;
}
