/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Noto+Sans+JP:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap'); */
@import url('base.css');
@import url('nav.css');

body { 
    background-color: #fff !important;
}

section, header, footer{
    height: 100vh;
    color: #f8f9fa;
}

header, footer {
    text-align: center;
}

header { background: linear-gradient(to bottom, #019de1 0%, #100e99 100%); }
footer { background: linear-gradient(to bottom, #019de1 0%, #100e99 100%); }

header h2 {
    font-size: 2rem !important;
}

header h1 {
    letter-spacing: 3rem !important;
    font-size: 4rem;
}

section, footer, footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(-n+2){
    /* background: #fff !important; */
}

.bg-img{
    display:flex;
    margin:auto;
    background-color: #f8f9fa38;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
}
