@import url('base.css');

body{
    background: #d3d3d3 !important;
}

img {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 8px;
}

@media screen and (max-width: 575px) {
    .login-container{
        overflow: hidden;
        height: 100%;
    }
}