body.bg-transparent > nav.navbar.navbar-expand-lg {
    /* background: #019DE4 !important; */
    background: transparent;
    z-index: 3;
    box-shadow: none;
}

body.bg-transparent > div.nav-superior {
    display: none;
}

body > nav {
    /* background: linear-gradient(to bottom, #019de1 0%, #100e99 100%); */
    background-color: #1c375c;
    box-shadow: 1px 11px 20px 0px #727272;
}

nav {
    font-weight: 600;
}

nav li.nav-item:hover {
    border-bottom: 2px solid #15f1ff;
    transition: all 0.3s ease;
}

a.nav-link{
    color: white;
    margin: 0 0.3rem !important;
}

.nav-superior {
    height: 5rem;
    background: linear-gradient(to bottom, #019de1 0%, #100e99 100%);
}

.nav-superior img {
    width: 70%;
}

.nav-superior .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link:hover, .nav-link:focus {
    color: #15f1ff !important;
}

.dropdown-menu{
    --bs-dropdown-min-width: 0 !important;
}

.btn-user {
    background: transparent;
    border-color: transparent;
    transition: 1s all ease;
}

.btn-user:hover {
    color: #fff;
}

.list-nav i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.nav-link {
    font-size: 16px !important;
    white-space: nowrap;
}


@media screen and (min-width:992px){

    .navbar-collapse{
        flex-grow: 0 !important;
    }
} 


/* ---- Para el bg del nav vertical ---- */

/* @media only screen and (max-width:768px){
    .list-nav{
        background-color: red;
    }
}  */