/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Noto+Sans+JP:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap'); */
@import url('base.css');
@import url('nav.css');

.btn-white {
    background: #f2f2f2;
    color: black;
}

.paciente-consulta, .paciente-info, .buttons-submenus-add {
    display: flex;
    flex-direction: column;
}

.buttons-submenus-add{
    white-space: nowrap;
}

.paciente-info {
    align-self: baseline;
    background-color: #ff8383;
    border-radius: 5px;
    padding: 2.5rem;
    margin-top: 0.25rem;
}

.paciente-info > img {
    margin: auto;
    margin-bottom: 0.75rem;
    width: 50%;
}

.paciente-consulta > ul > li {
    border-bottom: 1px solid #d1d1d1;
    margin-top: 0.75rem;
}

.paciente-info p {
    margin-bottom: 0.5rem !important;
}

.sub-menus > div{
    transition: display 1s, opacity 500ms ease-in-out;
}

.indicaciones, .recipes {
    margin-bottom: 1rem;
}

.antecedente, .seguro{
    background-color: #f2f2f2;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.btn-link{
    text-align: start;
    text-decoration: none;
    color: black;
}

.btn-link:hover{
    color: #555555;
}

.btn-link::before {
    position: absolute;
    content: "";
    font-size: 22px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 15px;
    right: 30px;
    color: #85878f;
}

.btn-link.collapsed::before {
    position: absolute;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 15px;
    right: 30px;
    font-size: 22px;
    color: #85878f;
}