/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Noto+Sans+JP:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap'); */
@import url('base.css');
@import url('nav.css');

.list-seg {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.list-seg > li > img {
    display: block;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 60px;
    background-color: #ffffff33;
}

.list-seg > li > a{
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
 
a:hover {
    color: #15f1ff !important;
}